{% extends 'base.html' %}

{% load static %}

{% block head %}
  {% if page.has_next %}
    <link rel="prerender" href="?p={{ page.next_page_number }}">
  {% endif %}
{% endblock %}

{% block body %}

<div class="container">
  <div class="columns is-centered">
    <div class="column is-6">
      <div class="box">
        <div>
          <small class="has-text-grey">Question {{ page.number }}</small>
          <small class="has-text-grey is-pulled-right"><i class="fas fa-eye"></i> {{ quiz.number_of_views }} Views</small>
          {% if question.description_image %}
            <img class="question-image mt-3 blurhash"
                data-blurhash="{{ question.description_image_blurhash }}"
                data-src="{{ MEDIA_URL }}{{ question.description_image }}"
                >
          {% endif %}
          <div id="description"
               class="markdown mt-3 mb-3"
               data-markdown="{{ question.description }}"></div>
        </div>

        <hr>

        <a class="mt-3 mask has-text-black" data-target="#answer-{{ question.id }}">
          <small class="has-text-grey">Answer</small>
          <div id="answer-{{ question.id }}" class="is-masked">
            {% if question.solution_image %}
              <img class="question-image mt-3 blurhash"
                  data-blurhash="{{ question.solution_image_blurhash }}"
                  data-src="{{ MEDIA_URL }}{{ question.solution_image }}"
                  >
            {% endif %}
            <div id="solution"
                 class="markdown mt-3"
                 data-markdown="{{ question.solution }}"></div>
          </div>
        </a>

        {% if form %}
          <button class="button collapse mt-3" data-target=".form-edit-toggle">
            <i class="fas fa-edit mr-2"></i> Edit Question
          </button>
        {% endif %}
      </div>

      <div class="box">
        <h4>
          <strong>{{ quiz.title }}</strong>
        </h4>
        <h5 class="pt-1">{{ quiz.description }}</h5>
        <hr>
        {% include 'pagination.html' with hide_numbers=True %}
        {% include 'calendar_menu.html' %}
        <hr>
        {% if has_quiz_access %}
          <form method="POST" action="{% url 'quizzes:create_question' quiz.slug %}">
          {% csrf_token %}
          <button type="submit"
                  class="button is-success">
            <i class="fas fa-plus mr-2"></i> Create New Question
          </button>
          </form>
        {% endif %}
      </div>
    </div>

    {% if form %}
      <div class="form-edit-toggle column is-6 is-hidden">
        <div class="box">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button is-link">Update Question</button>
          </form>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="columns is-centered">
    <div class="form-edit-toggle column is-6 pt-6">
      <h4>Contribution history</h4>
      <hr>
      {% for contribution in question.contribution_set.all %}
        <div class="py-2">
          <p>
            &raquo;
            <strong>
              <a href="{% url 'profiles:profile' contribution.user.username %}">
                {% if contribution.user.profile.real_name %}
                  {{ contribution.user.profile.real_name }} (@{{ contribution.user }})
                {% else %}
                  @{{ contribution.user }}
                {% endif %}
              </a>
            </strong>
            edited this question
            <strong>{{ contribution.created_date|timesince }} ago</strong>
          </p>
        </div>
      {% endfor %}
      <div class="py-2">
        <p>
          &raquo;
          <strong>
            <a href="{% url 'profiles:profile' quiz.author.username %}">
              {% if quiz.author.profile.real_name %}
                {{ quiz.author.profile.real_name }} (@{{ quiz.author }})
              {% else %}
                @{{ quiz.author }}
              {% endif %}
            </a>
          </strong>
          authored this quiz
          <strong>{{ quiz.created_date|timesince }} ago</strong>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extrabody %}
<script src="{% static 'vendor/js/showdown.min.js' %}"></script>

<script src="{% static 'js/showdown.loader.js' %}"></script>
<script src="{% static 'js/mask.loader.js' %}"></script>
<script src="{% static 'js/editor.loader.js' %}"></script>
{% endblock %}
