<div class="box">
  <a href="{% url 'quizzes:quiz' quiz.slug %}">
    <img class="quiz-image blurhash"
          {% if quiz.image %}
          data-blurhash="{{ quiz.image_blurhash }}"
          data-src="{{ MEDIA_URL }}{{ quiz.image }}"
          {% endif %}
          >
    <hr>
    <p class="subtitle is-size-4">{{ quiz.title }}</p>
    <div class="content">{{ quiz.description }}</div>
  </a>

  <hr>

  <div class="content mt-3">
    <p>
      <strong>
        <a href="{% url 'profiles:profile' quiz.author.username %}">
          @{{ quiz.author.username }}
        </a>
      </strong>
      created this quiz {{ quiz.created_date|timesince }} ago
    </p>
  </div>
</div>
