<div class="box">
  <a href="{% url 'quizzes:question' quiz.slug %}">
    <img class="quiz-image blurhash"
          {% if quiz.image %}
          data-blurhash="{{ quiz.image_blurhash }}"
          data-src="{{ MEDIA_URL }}{{ quiz.image }}"
          {% endif %}
          >
    <hr>
    <p class="subtitle mb-2 is-size-4">{{ quiz.title }}</p>
    <div class="content mb-2">{{ quiz.description }}</div>
  </a>

  <hr>

  <div class="content mt-3">
    <div class="content mb-2"><i class="fas fa-eye"></i> {{ quiz.number_of_views }} Views</div>
    <p>
      <strong>
        <strong>
          <a href="{% url 'profiles:profile' quiz.author.username %}">
            {% if quiz.author.profile.real_name %}
              {{ quiz.author.profile.real_name }} (@{{ quiz.author }})
            {% else %}
              @{{ quiz.author }}
            {% endif %}
          </a>
        </strong>
      </strong>
      created this quiz {{ quiz.created_date|timesince }} ago
    </p>
  </div>
</div>
