{% extends 'base.html' %}

{% block head %}
<style>
  .outline {
    flex-direction: column;
  }

  .outline-item {
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    color: #ecf0f1;
  }

  .outline-left-dots {
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-direction: column;
    align-items: center;
  }

  .outline-left-dots-bar {
    min-height: 6rem;
    width: 0;
    border-style: dashed;
    border-width: 0.1rem;
    border-color: #ecf0f1;
    border-radius: 0.25rem;
  }

  .outline-description-preview {
    flex-grow: 1;
    margin: 1rem;
  }

  .outline-description-preview .question-number {
    font-size: 0.75rem;
    opacity: 0.5;
  }

  .outline-description-preview .question-description {
    font-size: 1rem;
  }

  .outline .checkbox {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .checkbox {
    box-sizing: border-box;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #ecf0f1;
    background-color: transparent;
  }

  .checkbox.inverted {
    border-color: #ecf0f1;
  }

  aside {
    max-width: 24rem;
    max-height: 100vh;
    overflow-y: scroll;
  }

  main {
    padding: 2rem;
  }
</style>
{% endblock %}

{% block body %}
<div style="display: flex; flex-direction: row">
  <aside class="outline bg-green">
    {% for question in questions %}
      <a class="outline-item" href="?q={{question.id}}">
        <div class="outline-left-dots">
          <div class="checkbox inverted"></div>
          <div class="outline-left-dots-bar"></div>
        </div>
        <div class="outline-description-preview">
          <p class="question-number">Question {{ forloop.counter }}</p>
          <p class="question-description">{{ question.description|truncatechars:80 }}</p>
        </div>
      </a>
    {% endfor %}
  </aside>
  <main>
    {% if question %}
      <h1>{{ question.description }}</h1>
      {% if question.description_image %}
        <img alt="question" src="{{ question.description_image }}">
      {% endif %}
      {% if question.solution_image %}
        <img alt="question" src="{{ question.solution_image }}">
      {% endif %}
      <h1>{{ question.solution }}</h1>
    {% endif %}
  </main>
</div>
{% endblock %}
