html {
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: 'Nunito', sans-serif !important;
}

main {
  min-height: 100vh;
}

h1, .h1 {
  font-size: 3rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: 1rem;
}

p, .p {
  font-size: 1rem;
}

.navbar-menu {
  border-radius: 0.25rem;
}

form > p {
  margin-bottom: 1rem;
}

form p label:first-child {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

form textarea, form input:not([type="checkbox"]) {
  padding: 0.5rem;
  width: 100%;
  max-width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #dbdbdb;
  border-radius: 0.25rem;
  box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);
  background: #fafafa;
  font-size: 1rem;
  min-height: 2rem;
}

form p {
  display: block;
}

nav input.input {
  background: #fff;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 1rem;
}

nav .field.has-addons .control:last-child:not(:only-child) .button,
nav .field.has-addons .control:last-child:not(:only-child) .input,
nav .field.has-addons .control:last-child:not(:only-child) .select select {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

img.not-found {
  width: 20rem;
}

img#legal {
  height: 12rem;
}

.quiz-image {
  height: 12rem;
  width: 100%;
  border-style: none;
  border-radius: 0.25rem;
  object-fit: cover;
}

.quiz-image-info {
  border-radius: 0.25rem;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.question-image {
  height: 12rem;
  display: block;
  object-fit: contain;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25rem;
  border-color: lightgray;
}

.day-container {
  padding: 0.25rem;
}

.day {
  border-radius: 0.25rem;
  background: #fafafa;
  transition: all 0.3s ease-in-out;
}

.day:hover {
  background: #f0f0f0;
}

.markdown p,
.markdown ul,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
  margin-bottom: 0.5rem;
}

.markdown code {
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
}

.markdown ol {
  margin-left: 4rem;
}

.is-masked * {
  background: #f0f0f0;
  color: transparent;
  border-radius: 0.25rem;
}

.is-masked img {
  filter: contrast(0) opacity(0.2);
}

.profile-icon {
  object-fit: cover;
}

.round {
  border-radius: 50%;
}

.nav-container {
  background: #fafafa;
}

.navbar {
  background: transparent;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
  background-color: #fff;
}
