{% extends "base.html" %}

{% load static %}

{% block body %}

<div class="container">

  <div class="columns is-centered">
    <div class="column is-4">
      <img alt="login" src="{% static 'vendor/img/join.svg' %}">
      <h4 class="mt-6 has-text-centered">Registration</h4>

      <form method="POST" class="box mt-4">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="hidden" name="next" value="{{ next }}">

        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-link">Register</button>
          </div>
          <div class="control">
            <a href="{% url 'profiles:login' %}"
               class="button is-link is-light">Login</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
