{% load static %}

<html>

<head>
  <link href="{% static 'vendor/css/bulma.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <style>
    .bg-paper {
      background-color: #ecf0f1;
    }

    .bg-green {
      background-color: #27ae60;
    }

    html {
      font-family: 'Poppins', sans-serif;
      display: flex;
    }

    body {
      flex-grow: 1;
    }
  </style>

  {% block head %}{% endblock %}
</head>

<body>

  {% block body %}{% endblock %}
</body>

{% block footer %}{% endblock %}

</html>
