{% csrf_token %}
{% for field in form.hidden_fields %}
  {{ field }}
{% endfor %}
{% for field in form.visible_fields %}
  <div class="field">
    <label class="label">{{ field.label_tag }}</label>
    {% if field.field.widget.attrs.type %}
      {% if field.field.widget.attrs.type == 'textarea' %}
        <textarea class="input {% if field.errors %}is-danger{% endif %}"
              name="{{ field.name }}"
              >{% if field.value %}{{ field.value }}{% endif %}</textarea>
      {% endif %}
    {% else %}
    <input class="input {% if field.errors %}is-danger{% endif %}"
           name="{{ field.name }}"
           type="{{ field.field.widget.input_type }}"
           {% if field.value %}value="{{ field.value }}"{% endif %}
            >
    {% endif %}
    {% for error in field.errors %}
    <p class="help is-danger">{{ error }}</p>
    {% endfor %}
  </div>
{% endfor %}
