{% extends 'base.html' %}

{% load static %}

{% block head %}
  {% if page.paginator.count == 1 %}
    {% for quiz in page %}
      <link rel="prerender" href="{% url 'quizzes:quiz' quiz.slug %}">
    {% endfor %}
  {% endif %}
{% endblock %}

{% block body %}

<div class="container">
  <section id="quizzes-container">
    {% if page %}
      <div class="columns is-multiline">
      {% for quiz in page %}
        <div class="column is-4">
          {% include 'quizzes/quiz_card.html' %}
        </div>
      {% endfor %}
      </div>

      {% include 'pagination.html' %}
    {% else %}
      <div class="has-text-centered">
        <img class="not-found"
             alt="not found"
             src="{% static 'vendor/img/tree-swing.svg' %}">
        <h4 class="mt-3">No quizzes found.</h4>

        <div class="columns is-centered">
          <div class="column is-4">
          {% include 'quizzes/quiz_search_form.html' %}
          </div>
        </div>
      </div>
    {% endif %}
  </section>
</div>

{% endblock %}

