{% extends "base.html" %}

{% load static %}

{% block body %}

<div class="container">
  <div class="columns">
    <div class="column is-4">
      <article class="box">
        <figure class="image is-square has-background-light round">
          {% include 'profiles/profile_icon.html' %}
        </figure>
        <div class="content mt-6 has-text-justified">
          <p>
            {% if profile.real_name %}
            <strong>{{ profile.real_name }}</strong>
            {% else %}
            {% endif %}
            <small>@{{ profile.user.username }}</small>
          </p>
          <p>
            {% if profile.description %}
              {{ profile.description }}
            {% endif %}
          </p>
        </div>
        {% if form %}
          <div class="control is-expanded">
            <button class="button is-fullwidth collapse" data-target="#profile-form">
              Change Profile
            </button>
          </div>
        {% endif %}
      </article>
      {% if form %}
        <div id="profile-form" class="box">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="control is-expanded mt-3">
              <button class="button is-fullwidth is-link">
                Update Profile
              </button>
            </div>
          </form>
        </div>
      {% endif %}
    </div>
    <div class="column is-8">
      <div class="">
        <h3 class="mb-3">Quizzes</h3>
        <hr>
        {% for quiz in page %}
          {% include 'quizzes/quiz_list_item.html' %}
          {% if not forloop.last %}
            <hr>
          {% endif %}
        {% endfor %}
        {% include 'pagination.html' %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
